:root {
  /* colors */
  --background-color: #f0fbf3;
  --text-color: #161c2d;
  --background-footer-color: #161c2d;
  --greencard-color: #68d585;
  --bluecard-color: #473bf0;
  --browncard-color: #f64b4b;
  --button-color: #473bf0;
  --white-color: #ffffff;
  --hover-color: #fb6d45;
  /* font-sizes */
  --fs-s60: 60px;
  --fs-s15: 15px;
  --fs-s36: 36px;
  --fs-s19: 19px;
  --fs-s21: 21px;
  --fs-s17: 17px;
  --fs-s13: 13px;
  --fs-s28: 28px;
  --fs-s48: 48px;
  /* font-weights */
  --fw-bold: 700;
  --fw-regular: 400;
  /* line-heights */
  --lh-h65: 65px;
  --lh-h26: 26px;
  --lh-h32: 32px;
  --lh-h48: 48px;
  --lh-h29: 29px;
  --lh-h100: 100%;
  --lh-h58: 58px;
  --lh-h40: 40px;
}
